.cart__item {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.308);
    margin: 0.5rem;
    padding: 1rem;
}

.cart__item-title {
    margin-top: 0.2rem;
    font-size: 1.2rem;
}

.cart__item-qty {
    margin-top: 0.2rem;
    text-align: left;
    font-size: 1.2rem;
}

.cart__item-price {
    margin-top: 0.2rem;
    text-align: left;
    font-size: 1.2rem;
}