
.product-item {
    width: 30rem;
    max-width: 96%;
    margin: 1rem;
}

.product__title {
    font-size: 2.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #494949;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.noresize {
    resize: none;
}

.product-detail__img {
    max-width: 510px;
}
