extends ../layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/cart.css")
    
block content 
    if prods.length > 0 
        .container.col-md-offset-3.col-md-6
            for product in prods 
                .cart__item.row
                    h1.cart__item__title.col-md-4 #{product.title}
                    h2.cart__item__qty.col-md-4 Quantity: #{product.cartItem.quantity}
                    .col-md-4
                        form.cart__item__form.form-inline(action="/cart-delete-item", method='POST')
                            input(type = 'hidden', name='productId', value=product.id)
                            button.btn.btn-danger(type="submit") Delete
        .container.col-md-offset-3.col-md-6
            .row
                form.cart__checkout.form-inline(action="/create-order", method='POST')
                    button.cart__checkout-button.btn.btn-default(type="submit") Order Now!
    else 
        .container
            h1 No products in cart
