
extends ../layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/product.css")
    
block content 
    .container.centered
        h1 #{product.title} 
        hr
        div 
            image.product-detail__img(src="/"+product.image, alt=product.title)
        h2 $#{(product.price).toFixed(2)}
        p #{product.description}
        include ../includes/add-to-cart.pug
        
                    
    